<style>
*{
  box-sizing: border-box;
  }
html, body{
  margin: 0;
  }
body{
  font-family: "Open Sans";
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #EEE8AA;
  }
section{
  padding-top: 30px;
  text-align: center;
  width: 40%;
  height: 450px;
  font-size: 17px;
  background: #20B2AA;
  margin: 50px;
}
h3{
  margin: 0;
  padding: 0;
}
#msgErro{
  padding: 3px;
  background: red;
  text-align: center;
  font-weight: bold;
  color: white;
}
